
numpy==1.22.0
sounddevice==0.5.3
resampy==0.4.3
faster-whisper==1.2.0
torch==2.5.1
transformers==4.57.1
edge-tts==7.2.1
keyboard==0.13.5
sentencepiece
keyboard
torchaudio
# TTS==0.22.0 for whisper local only .